.dashboard {
  margin: 20px 50px;

  .title-dashboard {
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

}
